/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.page-title,
.entry-title {
	@apply max-w-content mx-auto mb-6 text-3xl font-extrabold text-neutral-900;
}

/**
	* Layout styles for centered content areas
	*
	* If you are controlling the width of your content area with styles applied
	* to its container, you can delete the following styles whose selectors begin
	* with `.page-content >` and `.entry-content >`. For more details, please see
	* the following:
	*
	* https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
	*/
html {
	@apply !m-0 scroll-smooth;
}

.page-content > *,
.entry-content > * {
	/* Content width from the `theme.json` file */
	@apply max-w-content mx-auto;
}

.entry-content > .alignwide {
	/* Wide width from the `theme.json` file */
	@apply max-w-wide;
}

.entry-content > .alignfull {
	@apply max-w-none;
}

.entry-content > .alignleft {
	@apply float-left mr-8;
}

.entry-content > .alignright {
	@apply float-right ml-8;
}

#primary-menu {
	@apply flex flex-col pt-8 md:pt-0 md:flex-row md:items-center gap-5 md:gap-5 flex-wrap md:justify-end;
}

#primary-menu a {
	@apply transition duration-200 hover:text-[#00b3a7];
}

.menu .menu-item a:hover::after {
	@apply w-full;
}

.menu .menu-item a::after {
	@apply content-[''] block w-0 bg-primary h-[2px] transition-all duration-300 ease-out mt-0;
}

.ks-menu-toggler--active .ks-menu-toggler__line:nth-child(1) {
	@apply origin-left w-[35px] rotate-[43deg];
}

.ks-menu-toggler--active .ks-menu-toggler__line:nth-child(2) {
	@apply origin-left opacity-0 scale-x-0;
}

.ks-menu-toggler--active .ks-menu-toggler__line:nth-child(3) {
	@apply origin-left w-[35px] rotate-[-43deg];
}

.nav-primary.toggled {
	@apply !h-screen opacity-100;
}

.ks-decoration__line {
	background: #00b3a7;
	-webkit-transform-origin: 50%;
	-ms-transform-origin: 50%;
	transform-origin: 50%;
	display: inline-block;
}
.ks-decoration__line--small {
	margin-right: -11px;
	height: 4px;
	width: 14px;
}
.ks-decoration__line--big {
	margin-right: -9px;
	height: 6px;
	width: 21px;
}
.ks-decoration__wave {
	position: absolute;
}
.ks-decoration__wave--small {
	bottom: -30px;
}
.ks-decoration__wave--big {
	bottom: -20px;
}
.ks-decoration--left .ks-decoration__wave--big {
	left: 0;
}
.ks-decoration--center .ks-decoration__wave--small {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.wp-block-woocommerce-checkout{
	@apply !max-w-none
}

.woocommerce .input-text{
	@apply py-3 px-4 border rounded-2xl border-primary focus:border-[#008077] transition duration-200
}

.woocommerce-form-login__submit,
.woocommerce-form-register__submit,
.wc-block-components-checkout-place-order-button,
.wc-block-components-totals-coupon__button{
	@apply !px-5 !py-3  !text-white !text-lg !font-medium !rounded-2xl !bg-primary hover:!bg-[#008077] !transition !duration-200
}

.wc-block-components-totals-footer-item-tax{
	@apply !mt-1 text-right
}

.woocommerce-message{
	@apply !border-t-primary
}
.woocommerce-message::before{
	@apply !text-primary
}

.button.wc-forward,
.woocommerce-account .woocommerce-button{
	@apply !px-5 !py-3 !text-primary hover:!text-white !font-medium !rounded-2xl !border-solid !border-2 !border-primary !bg-transparent hover:!bg-primary transition duration-200
}

.woocommerce-account .entry-title{
	@apply !container
}
.woocommerce-account .woocommerce{
	@apply max-w-none
}
.wc-block-components-panel__button{
	@apply !pointer-events-none
}
.wc-block-components-panel__button svg{
	@apply !hidden
}
.wc-block-components-order-summary__button-text{
	@apply font-bold text-2xl
}

.wc-block-components-text-input input,
input.components-combobox-control__input{
	@apply !border-[#cfc8d8] !rounded-2xl
}

.wc-block-components-form .wc-block-components-text-input label,
.wc-block-components-text-input label,
.wc-block-components-combobox .wc-block-components-combobox-control label.components-base-control__label,
.wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control label.components-base-control__label{
	@apply !text-sm !translate-y-5
}

.wc-block-components-form .wc-block-components-text-input input:-webkit-autofill+label, .wc-block-components-form .wc-block-components-text-input.is-active label, .wc-block-components-text-input input:-webkit-autofill+label, .wc-block-components-text-input.is-active label,
.wc-block-components-combobox.is-active .wc-block-components-combobox-control label.components-base-control__label, .wc-block-components-combobox:focus-within .wc-block-components-combobox-control label.components-base-control__label, .wc-block-components-form .wc-block-components-combobox.is-active .wc-block-components-combobox-control label.components-base-control__label, .wc-block-components-form .wc-block-components-combobox:focus-within .wc-block-components-combobox-control label.components-base-control__label{
	@apply !translate-y-2 scale-[85%]
}

.wc-block-components-product-name{
	@apply font-bold
}

.wp-block-woocommerce-checkout-order-summary-cart-items-block{
	@apply !border-t-0
}

.wp-block-woocommerce-checkout-order-summary-block{
	@apply bg-[#F7F7F7] rounded-2xl
}

.woocommerce-input-wrapper .select2-container .select2-selection--single{
	@apply h-[49px] rounded-2xl border-primary focus:border-[#008077] transition duration-200
}
.woocommerce-input-wrapper .select2-container.select2-container--open .select2-selection--single{
	@apply border-[#008077]
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	@apply py-3 px-4
}
.select2-dropdown{
	@apply !border-[#008077]
}
.select2-search__field{
	@apply rounded-lg
}

.select2-selection__arrow{
	@apply !top-2.5 !right-2
}

.woocommerce .checkout .col2-set .col-2{
	@apply md:sticky md:top-[100px]
}

.woocommerce-checkout #payment div.payment_box{
	@apply !bg-[#00b3a71a]
}

.woocommerce-checkout #payment div.payment_box::before{
	@apply !border-b-[#00b3a71a]
}

.woocommerce-checkout-review-order-table .order-total{
	@apply text-2xl
}
.woocommerce-checkout-review-order-table .includes_tax{
	@apply !text-xs
}

.woocommerce-checkout-review-order-table{
	@apply !border-none !border-collapse !m-0
}

.woocommerce table.shop_table td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot th,
.woocommerce table.shop_table tfoot,
.woocommerce table.shop_table thead{
		border: none !important;
}

.woocommerce table.shop_table tr.order-total{
	border-top: 1px solid #d4d4d4 !important
}

.woocommerce-checkout #payment ul.payment_methods li img{
	@apply max-h-10
}

.woocommerce-lost-password h1{
	@apply mt-28 text-center;
}

.tutor-course-details-content ul,
.tutor-lesson-wrapper ul{
	@apply list-disc ml-6;
}

.woocommerce-info{
	border-top-color: #00b3a7;
}

.woocommerce-info::before{
	content: '\0024D8'!important;
	color: #00b3a7;
}

.checkout_coupon .button,
.order-again .button,
.order-actions--heading .button{
	border: 2px solid #00b3a7!important;
}

.order-actions--heading .button{
	@apply !px-5 !py-3 !bg-white !text-primary hover:!text-white !text-lg !font-medium !rounded-2xl !border-2 !border-primary hover:!bg-primary !transition !duration-200;
}

.woocommerce-MyAccount-navigation .nav-container .woocommerce-MyAccount-navigation-link--wt-smart-coupon{
	@apply hidden;
}

.iworks-omnibus{
	@apply text-[#3B424F] text-sm block !m-0
}
.woocommerce-cart-form .iworks-omnibus{
	@apply text-xs
}
.cart_totals .order-total{
	@apply text-base lg:text-lg
}

.woocommerce-LoopProduct-link.woocommerce-loop-product__link img{
	@apply aspect-square object-cover
}

.products .button.add_to_cart_button{
	@apply !px-5 !py-3 !text-white !text-lg !font-medium !rounded-2xl !bg-primary hover:!bg-[#008077] !transition !duration-200
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) ul.products li.product .price{
	@apply text-2xl !text-primary font-medium
}

.woocommerce-products-header__title.page-title{
	@apply !mx-0 !mt-10
}